apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: {{ .Release.Namespace }}
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: http                                   
      port: {{ .Values.taskflow_backend.port }}
      targetPort: {{ .Values.taskflow_backend.port }}



